h1 {
    text-transform: uppercase;
    padding: 0.3em 0 0.3em 0;
}

h2 {
    text-transform: uppercase;
}

h4 {
    padding: 0 0 1em 0;
}

img {

}

.border-round {
    border-radius: 5px;
}

.content {
    padding-top: 5vh;
}

.content section {
    padding: 2em 0 2em 0;
}

.our-team {
    display: flex;
    justify-content: space-between;

}

.our-team div {
    width: 45%;
    display: flex;
    flex-direction: column;;
    justify-content: center;
}


.our-team div img {
    width: 100%;
}

.partner-container {
    margin: 2em 0 2em 0;
    display: flex;
    height: 25vh;
    justify-content: space-between;
    align-items: center;
}

.partner-container div {
    width: 45%;
    padding: 10px;
}

.partner-container div img {
    width: 100%;
}

/*Marquee*/
.marquee-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 100vw;
}

.marquee {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

.marquee-group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    animation: scroll-x 25s linear infinite;
}

.marquee-item {
    display: grid;
    place-items: center;
    height: 150px;
    aspect-ratio: 16/9;
    margin: 2em;
    border-radius: 0.5rem;
}

.marquee-item img {
    width: 100%;
}

#contact-form-display {
    padding: 10px;
    display: none;
}

@keyframes scroll-x {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Hide the scrollbar while keeping scroll functionality */
::-webkit-scrollbar {
    width: 0;
}
